{% extends "layout.html" %}

{% block pageTitle %}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sorry, there is a problem with this service
      </h1>

      <p>Try again later.</p>

      <p>Contact <a href="https://www.gov.uk/contact-ukvi-inside-outside-uk"> UK Visas and Immigration</a> if you need help with your application.</p>
       <p>If you contact UK Visa and Immigration, tell them this error number {ID number}.</p>
    </div>
  </div>

{% endblock %}
