
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The Immigration Health Surcharge (IHS)
        <span class="govuk-caption-xl"></span>
      </h1>{{releaseVersion | log }}

<h2 class="govuk-heading-m">About this service</h2>
      <p>
        The Immigration Health Surcharge (IHS) is a stand alone service that will be used by other UKVI applications.
      </p>

      <p>
        The user has the option to add their existing IHS number or pay the health surcharge.  The user is required to have an IHS number before they can make payment.
      </p>
<p>Some visas require the user to have an IHS even if they are exempt from the surcharge.</p>

<p>The <a href="https://confluence.ipttools.info/display/ES/Screens+on+IHS+Journey">screen flow</a> which includes links to the development JIRAS.</p>

<!--Table start -->
<table class="govuk-table">

<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Screen</th>
<th scope="col" class="govuk-table__header">Comment</th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="govuk-table__cell"> <a href="https://ho-ihs.herokuapp.com/ihs/question">Have you paid the Immigration Health Surchage?</a></td>
<td class="govuk-table__cell">The start of the IHS service if an UKVI product requires the user to have an IHS number when applying for a visa.</<td>

</tr>
<tr class="govuk-table__row">
  <td class="govuk-table__cell"><a href="https://ho-ihs.herokuapp.com/ihs/service-problem">Sorry, there is a problem with this service</a></td>
<td class="govuk-table__cell">Displayed when the user has either paid the surcharge or registered their existing IHS number and either the payment service or the visa product is unavailable.  </th>

</tr>

</tbody>
</table>
<!-- Table end -->



      <h2 class="govuk-heading-m">Design contraints</h2>

      <p>This service has been designed with a time constraint and only the MVP will initially be delivered.  It is for this reason
         that an email confirmation on the <a href=https://ho-ihs.herokuapp.com/ihs/confirmation">confirmation screen</a> has not be included. A confirmation email will need to be sent if/when
         users are able to add different IHS numbers for different visa applications.</p>

      <p>This design has not been user tested due to delivery time constraints.</p>
    </div>
</div>

{% endblock %}
